<form method="post">
{{ form_row(formViews['machine'].machineid)}}
{{ form_row(formViews['weight'].email) }}
{{ form_row(formViews['weight'].password) }}
<button class="btn btn-primary">登録</button>
</form>